*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header .content{
    width: 100%;
    height: 75px;
    background-color: cornflowerblue;
}

.content{
    background-color: lightgray;
}
.content-title{
    height: 150px;
}

#jumbotron{
    background-color: green;
}
#jumbotron .content{
    width: 100%;
    height: 350px;
}
#columns .content{
    width: 100%;
    height: 250px;
}