*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.content-title{
    height: 150px;
}
.avatar{
    width: 150px;
    position: relative;
    top: 45px;
    left: 350px;
}
h1{
    position: relative;
    top: 160px;
    left: 115px;
}
hr{
    width: 60px;
    color: black;
}

img{
    width: 100%;
}
#jumbotron, #about{
    background-color: #1abc9c;
}
#jumbotron .content{
    width: 100%;
    height: 350px;
}

#about{
    padding: 20px 0px;
    margin-top: 75px;
}
#columns .content, #about .content{
    height: 200px;
    width: 100%;
}
#contatti .content{
    height: 250px;
    width: 100%;
    padding: 30px 0px;
}
footer{
    background-color: brown;
    padding: 20px 0px;
}
footer .content{
    width: 100%;
    height: 200px;
}
.bottom-bar{
    background-color: #2c3e50;
}

